@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Poppins', sans-serif;
}

.ellipse {
  width: 856px;
  height: 856px;
  flex-shrink: 0;
  border-radius: 856px;
  background: #e0e7f8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 555px;
  height: 402px;
  border-radius: 20px;
  background: #fff;
}
.frame2 {
  width: 505px;
  height: 117px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  margin: 25px;
  background: #626cd6;
  box-shadow: 0px 16px 25px -10px rgba(83, 92, 181, 0.25);
}

h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
h2 {
  width: 328px;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.learn {

    display: flex;
    width: 91px;
    padding: 10px 15px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    background: #FFF;
    position: absolute;
    right: 850px;
    top: 320px
}

.col1{
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
  position: absolute;
  left: 160px;
  top: 390px;
}

.col2{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 440px;
  top: 390px;
  gap: 20px;
  list-style-type: none;
}
.item1{
  color: #6F7189;

font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;

}
.item2{
display: flex;
width: 247px;
padding: 10px 15px;
align-items: flex-start;
gap: 10px;
border-radius: 5px;
background: #F1F2FF;
color: #171228;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
}
.item{
 color: #171228;
 font-family: Poppins;
font-size: 16px;
font-weight: 400;
}